{% extends "base.html.twig" %}

{% block title %}
	Modification du parking de
	{{ parking.ville }}
{% endblock %}

{% block body %}
	<h1>Modifier le parking de
		{{ parking.ville }}</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="row">
		<div class="col">
			{{ form_row(formView.adresse) }}
			{{ form_row(formView.ville) }}
			{{ form_row(formView.codePostal) }}
		</div>
		<div class="col">
			{{ form_row(formView.capacite) }}
			{{ form_row(formView.image) }}
		</div>
	</div>

	<button type="submit" class="btn btn-outline-primary mt-4">
		<i class="fas fa-save"></i>
		Modifier le parking
	</button>

	{{ form_end(formView) }}
{% endblock %}
