{% extends "base.html.twig" %}

{% block title %}
	Modification de
	{{ voiture.model }}
{% endblock %}

{% block body %}
	<h1>Modifier le véhicule
		{{ voiture.model }}</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="row">
		<div class="col">
			{{ form_row(formView.model) }}
			{{ form_row(formView.immatriculation) }}
			{{ form_row(formView.carburant) }}
			{{ form_row(formView.capaciteHabitacle) }}
		</div>
		<div class="col">
			{{ form_row(formView.boitier) }}
			{{ form_row(formView.prix) }}
			{{ form_row(formView.image) }}
			{{ form_row(formView.parking) }}
		</div>
	</div>

	<button type="submit" class="btn btn-outline-primary mt-4">
		<i class="fas fa-save"></i>
		Modifier le véhicule
	</button>

	{{ form_end(formView) }}
{% endblock %}
